version: "1.0"
pipes:
{% for user in user_list %}
- from:
    - username: "{{ user.name }}"
      authorized_keys: /var/sshpiper/{{ user.name }}/authorized_keys
  to:
    host: localhost:{{ user.port }}
    username: "{{ user.name }}"
    private_key: /var/sshpiper/id_rsa
    ignore_hostkey: true
{% endfor %}