{
    "log-driver": "journald",
    "exec-opts": [
        "native.cgroupdriver=systemd"
    ],
    "storage-driver": "overlay2",
    "storage-opts": [
        "overlay2.size=10G"
    ],
{% if proxy_conf is defined %}
    "proxies": {
        "http-proxy": "{{ proxy_conf.http }}",
        "https-proxy": "{{ proxy_conf.http }}",
        "no-proxy": "{{ proxy_conf.noProxy }}"
    }
{% endif %}
}